=============== 
Unity generated
===============
Temp/
Library/
Build/
Builds/
Resources/Images/

=====================================
Visual Studio / MonoDevelop generated
=====================================
ExportedObj/
obj/
*.svd
*.userprefs
/*.csproj
*.csproj
*.pidb
*.suo
/*.sln
*.sln
*.user
*.unityproj
*.booproj


============
OS generated
============
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
*.apk

===========
graphical files
===========
*~
*.blend1
\.lvlTuto01\.kra-autosave\.kra

\.lvlTuto02\.kra-autosave\.kra

\.testLevelDes02\.kra-autosave\.kra
